.idea/git_toolbox_blame.xml
.idea/git_toolbox_prj.xml
.idea/material_theme_project_new.xml
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/Python_Impressionador.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
Aulas/clone_checkpoint.json
Aulas/delete_channel_messages.session
.idea/.gitignore
